.tab-container {
    /* border: 1px dashed purple; */
    padding: 10px 20px;
    width: 100%;
  }
  
  .tab-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tab-item {
    text-align: center;
    cursor: pointer;
    flex: 1;
  }
  
  .tab-item div {
    margin-top: 10px;
  }
  
  .tab-item.active {
    border-bottom: 2px solid blue;
  }
  
  .tab-content {
    margin-top: 20px;
  }
  
  .photos-section, .highlights-section {
    text-align: center;
  }
  