/* styles.css */
.webcam-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  
  .custom-webcam-view {
    width: 50%;
  }
  
  .snap-button, .close-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .snap-button:hover, .close-button:hover {
    background-color: #0056b3;
  }
  